/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Galen's code */
body {
  font-family: 'Overpass', sans-serif;
  background-color: hsl(216, 12%, 8%);
  color: hsl(216, 12%, 54%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

article {
  background-color: hsl(213, 19%, 18%);
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5rem;
  border-radius: 1rem;
}

article>*:not(:last-child) {
  margin-bottom: 0.75rem;
}

.star {
  background-color: hsl(213, 19%, 28%);
  max-width: 1.75rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

h1 {
  color: white;
}

p {
  font-size: 0.8rem;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  padding: 0rem;
  margin-top: 0rem;
}

li {
  background-color: hsl(213, 19%, 28%);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  width: 2.5rem;
  padding: 0.5rem;
}

li:active {
  background-color: hsl(25, 97%, 53%);
  color: white;
}

.select {
  background-color: hsl(217, 12%, 63%);
  color: white;
}

button {
  background-color: hsl(25, 97%, 53%);
  border: none;
  border-radius: 2rem;
  text-transform: uppercase;
  color: white;
  width: 100%;
  padding: 0.6rem;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

button:active {
  background-color: white;
  color: hsl(25, 97%, 53%);
}

.imgthanks {
  max-width: 100%;
  max-width: 9rem;
  align-self: center;
  padding-bottom: 0.8rem;
}

.rating {
  color: hsl(25, 97%, 53%);
  font-size: 0.8rem;
  background-color: hsl(213, 19%, 28%);
  align-self: center;
  padding: 0.3rem 0.9rem;
  border-radius: 1rem;
}

.thanks {
  display: none;
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}